{"files":
    {"/etc/httpd/conf.d/deflateFiles.conf":
        {"mode":"000644"
        ,"owner":"root"
        ,"group":"root"
        ,"content":
            "<IfModule mod_deflate.c>\n
            SetOutputFilter DEFLATE\n
            AddOutputFilterByType DEFLATE text/plain\n
            AddOutputFilterByType DEFLATE text/html\n
            AddOutputFilterByType DEFLATE text/xml\n
            AddOutputFilterByType DEFLATE text/css\n
            AddOutputFilterByType DEFLATE application/xml\n
            AddOutputFilterByType DEFLATE application/xhtml+xml\n
            AddOutputFilterByType DEFLATE application/rss+xml\n
            AddOutputFilterByType DEFLATE application/javascript\n
            AddOutputFilterByType DEFLATE application/x-javascripts\n
            DeflateCompressionLevel 9\n
            <IfModule mod_headers.c>\n
            Header append Vary User-Agent env=!dont-vary\n
            Header unset ETag\n
            </IfModule>\n
            </IfModule>\n"
        }
,
    "/etc/httpd/conf.d/cache_file.conf":
        {"mode":"000644"
        ,"owner":"root"
        ,"group":"root"
        ,"content":
            "<FilesMatch \"\\.(ico|svg|json|jpg|jpeg|png|gif|js|css|woff)$\">\n
            Header set Cache-Control 'public, max-age=1800'\n
            </FilesMatch>\n"
        }}
}