{"files":
    {"/var/app/composer/composer.json":
        {"mode":"000755"
        ,"owner":"root"
        ,"group":"root"
        ,"content":"{\"require\":
            {\"phpseclib/phpseclib\":\"~2.0\"
            ,\"aws/aws-sdk-php\":\">3-stable\"}}"
        }
    }
,"option_settings":
    [{"option_name":"COMPOSER_HOME"
    ,"value":"/var/app/composer"}]
,"commands":
    {"01-make-composer-dir":
        {"test":"test ! -d /var/app/composer"
        ,"command":"mkdir composer"
        ,"cwd":"/var/app/"}
    ,"02-move-composer":
        {"test":"test ! -e /var/app/composer/composer.phar"
        ,"command":"mv composer.phar /var/app/composer/"
        ,"cwd":"/usr/bin/"}
    ,"03-update-composer":
        {"command":"sudo php composer.phar self-update"
        ,"cwd":"/var/app/composer/"}
    ,"04-install-composer":
        {"command":"sudo php composer.phar install"
        ,"cwd":"/var/app/composer/"}}
}