{"container_commands":
    {"01-yum-update":
        {"command":"sudo yum update"}
    ,"02-install-ruby":
        {"command":"sudo yum install ruby"}
    ,"03-install-wget":
        {"command":"sudo sudo yum install wget"}
    ,"04-install-codedeploy":
        {"command":"wget https://aws-codedeploy-us-west-1.s3.amazonaws.com/latest/install"
        ,"cwd":"/home/ec2-user"}
    ,"05-install-codedeploy-2":
        {"command":"chmod +x ./install"
        ,"cwd":"/home/ec2-user"}
    ,"06-install-codedeploy-3":
        {"command":"sudo ./install auto"
        ,"cwd":"/home/ec2-user"}
    ,"07-start-codedeploy":
        {"command":"sudo service codedeploy-agent start"}}
}